<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebGL Show Example</title>
    <script src="../js/cuon-matrix.js"></script>
    <script src="../js/util.js"></script>
</head>

<body>

    <canvas id="canvas"></canvas>
    <script type="module">
        window.onload = function () {
            /**
             * @type {HTMLCanvasElement}
             */
            var canvas = document.getElementById('canvas');
            var gl = canvas.getContext('webgl');
            var frame_fragment_source =
                "attribute a_Positoin;" +
                "uniform u_mvpMatrix;" +
                "void main() {" +
                "gl_Position = a_Position;" +
                "}";
            var frame_shader_source =
                "" + 
                "";
        }
    </script>
</body>

</html>